:root {
  --basePrimary: cyan;
  --baseSecondary: yellow;
  --textPrimary: black;
  --textSecondary: blue;
}

html {
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --basePrimary: magenta;
    --baseSecondary: orange;
    --textPrimary: white;
    --textSecondary: darkGreen;
  }
}

[data-theme="dark"] {
  --basePrimary: magenta;
    --baseSecondary: orange;
    --textPrimary: white;
    --textSecondary: darkGreen;
}

body {
  background-color: var(--basePrimary);
  color: var(--textPrimary);
  font-family: Arial, sans-serif;
}

.TextTitle {
  font-weight: bold;
  color: green;
}

.Home {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}