:root {
  --basePrimary: #74BEC1;
  --baseSecondary: #FAF7F0;
  --textPrimary: #354259;
  --textSecondary: #333333;
}

html {
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --basePrimary: #2a3548;
    --baseSecondary: #333333;
    --textPrimary: #FAF7F0;
    --textSecondary: #74BEC1;
  }
}

[data-theme="dark"] {
  color-scheme: dark;
  --basePrimary: #2a3548;
  --baseSecondary: #333333;
  --textPrimary: #FAF7F0;
  --textSecondary: #74BEC1;
}

[data-theme="light"] {
  color-scheme: light;
  --basePrimary: #74BEC1;
  --baseSecondary: #FAF7F0;
  --textPrimary: #354259;
  --textSecondary: #333333;
}

body {
  background-color: var(--basePrimary);
  color: var(--textPrimary);
  font-family: Arial, sans-serif;
}

.Text {
  background-color: var(--basePrimary);
  color: var(--textPrimary);
}

.TextTitle {
  font-family: 'Bradley Hand',
    cursive,
    sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  color: var(--textPrimary);
}

.Switch {
  --kendo-color-surface: var(--basePrimary);
  --kendo-color-primary: var(--textSecondary);
  --kendo-color-on-app-surface: var(--textPrimary);
}

.NavButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.WebPage {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Wrapper {
  height: calc((100vh / 3) - 1.66rem);
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Buttons {
  width: 42%;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  gap: 1rem;
  margin-top: 1rem;
}

.TextInput {
  --kendo-color-surface-alt: var(--baseSecondary);
  --kendo-color-on-app-surface: var(--textPrimary);
}

.Banner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5rem solid var(--textSecondary);
  border-radius: 1rem;
  color: var(--textSecondary);
  font-family: 'Bradley Hand',
    cursive,
    sans-serif;
  font-size: 8rem;
}

.Loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc((100vh / 3) - 1.66rem);
  width: 100vw;
}

.Grid-layout-wrapper {
  width: 70%;
  box-shadow: 0rem 1rem 2rem #00000029;
  border-radius: 2rem;
  margin-bottom: 3rem;
}
.Grid-layout-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.Grid-layout-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Card {
  --kendo-color-surface-alt: var(--baseSecondary);
  --kendo-color-on-app-surface: var(--textPrimary);
}